body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 183, 183);
}

h3, h4{
    background-color: rgb(255, 0, 98);
    border: rgb(255, 195, 195) 3px dashed;
    height: 30px;
    width: 700px;
    border-radius: 50px;
}

button:hover{
    background-color: rgb(255, 78, 137);
}

button{
    background-color: rgb(255, 0, 76);
    border-radius: 50px;
    border: rgb(255, 190, 190) 3px dashed;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#Bloth{
    margin-left: 50px;
    width: 100px;
}

#Lip{
    margin-right: 150px;
    width: 100px;
}

#Tach{
    margin-right: 150px;
    width: 100px;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(119, 0, 255);}
    to{box-shadow: 1px 1px 38px rgb(194, 129, 255);}
}